{% extends 'landing/base.html' %}
{% load staticfiles %}
{% block header %}
  {% include "landing/parts/header.html" with title="About Us" %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="well well-lg">
        <dl>
          <dt>
            <h1>
              <a href="http://www.catb.org/jargon/html/A/alpha-geek.html" target="_blank">al·pha geek</a>
            </h1>
          </dt>
          <dd>
            <strong><em>noun</em>&nbsp;informal</strong>&nbsp;[from animal ethologists' alpha male]
          </dd>
        </dl>
        <ol class="ol-horizontal">
          <li>&nbsp;&nbsp;<strong>the most technically accomplished or skillful person in some implied context</strong>
            <blockquote class="definition" cite="http://www.catb.org/jargon/html/A/alpha-geek.html">
              <q>Ask Larry, he's the alpha geek here.</q>
            </blockquote>
          </li>
          <li>&nbsp;&nbsp;<strong>a person who has great expertise in computing and related technology</strong>
            <blockquote class="definition" cite="http://www.oxforddictionaries.com/definition/american_english/alpha-geek">
              <q>The alpha geeks are often a few years ahead of their time.</q>
            </blockquote>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}
