{% extends 'landing/base.html' %}
{% load staticfiles %}
{% load landing_utils %}
{% load cache %}
{% block header %}
  {% include "landing/parts/header.html" %}
{% endblock header %}
{% block content %}
  <div class="container-fluid">
    <div class="NOT-page-header" id="banner">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
          <p class="lead"></p>
        </div> <!-- col-lg-8 col... -->
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-offset-3">
          <div class="sponsor">
          </div> <!-- sponsor -->
        </div> <!-- col-lg-4 col... -->
      </div> <!-- row -->
    </div> <!-- page-header -->
  </div> <!-- container-fluid -->
  <style>
    hr.service-tag {
      border: 1em solid transparent;
      margin: 0;
    }

    a.list-group-item:hover,
    a.list-group-item:focus,
    a.list-group-item,
    a.list-group-item.last-clicked {
      color: #18bc9c;
      font-weight: bold;
    }

    a.list-group-item:hover,
    a.list-group-item:focus,
    a.list-group-item.last-clicked {
      background-color: rgb(44,62,80);
    }

    .panel-title {
        font-size: 20px;
        color: #ffffff;
        font-weight: bolder;
    }

    @media  (max-width: 768px) {
      .table-of-contents {
          text-align: center;
      }

      .list-group-item, a.list-group-item {
          background-color: rgb(44, 62, 80);
          border: 1px solid rgba(24, 188, 156, .34);
      }

      a.list-group-item.last-clicked {
        background-color: rgb(24,188,156);
        color: rgb(44,62,80);
      }

      .panel {
        width: 83.33333333%;
        margin-left: 8.33333333%;
      }

      .panel-body {
        width: 100%;
      }

      .panel>.list-group .list-group-item,
      .panel-heading+.list-group .list-group-item:first-child,
      .panel>.list-group:last-child .list-group-item:last-child {
        border-radius: .3em;
        margin-bottom: 5px;
      }

      .panel-primary > .panel-heading {
          border-color: #2c3e50;
          background-color: #18bc9c;
      }

    }

    @media (min-width: 768px) {
        a.list-group-item {
            color: #18bc9c;
        }

        .panel-title {
            color: #ffffff;
        }

    }
  </style>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3" id="sidebar">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">What We do</h3>
          </div>
          <div class="list-group table-of-contents panel-body">
          {% for service in services %}
            <a class="list-group-item" href="#{{ service|mkattribute }}">{{ service }}</a>
          {% endfor %}
          </div> <!--list-group -->
        </div> <!-- panel -->
      </div> <!-- col-sm... -->
      <div class="col-sm-7 col-sm-offset-1 col-md-8 col-md-offset-1">
        {% for service in services %}
          {% with service|mkattribute as service_id %}
          <hr id="{{ service_id }}" class="service-tag">
          <div class="service-div">
            <div class="page-header">
              <h2 class="text-center text-primary"><strong>{{ service }}</strong></h2>
            </div> <!-- page-header -->
            <div class="bs-component service well well-lg">
              {% include "landing/services/"|add:service_id|add:".html" %}
            </div> <!-- bs-component -->
          </div> <!-- service-div -->
          <br>
          {% endwith %}
          {% if forloop.counter0 == 0 %}
        </div> <!-- col-sm... -->
      </div> <!-- row -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          {% endif %}
        {% endfor %}
      </div> <!-- col-sm... -->
    </div> <!-- row -->
  </div> <!-- container -->
{% endblock content %}
{% block page_extra_script %}
  <script>
    $(document).ready(function() {
      var tis = $('.table-of-contents .list-group-item');

      $(document).scroll(function() {
        if (!$(window).scrollTop())
          $(tis).removeClass('last-clicked');
      });

      $(tis).click(function() {
        $(tis).removeClass('last-clicked');
        $(this).addClass('last-clicked');
      });
    });
</script>
{% endblock page_extra_script %}
