{% extends 'landing/base.html' %}
{% load staticfiles %}
{% block header %}
  {% include "landing/parts/header.html" with title="About Us" %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <dl>
        <dt>
          <h1>
            <a href="http://www.catb.org/jargon/html/A/alpha-geek.html" target="_blank">al·pha geek</a>
          </h1>
        </dt>
        <dd>
          <strong><em>noun</em>&nbsp;informal</strong>&nbsp;[from animal ethologists' alpha male]
        </dd>
      </dl>
      <ol class="ol-horizontal">
        <li>&nbsp;&nbsp;<strong>the most technically accomplished or skillful person in some implied context</strong>
          <blockquote class="definition" cite="http://www.catb.org/jargon/html/A/alpha-geek.html">
            <q>Ask Larry, he's the alpha geek here.</q>
          </blockquote>
        </li>
        <li>&nbsp;&nbsp;<strong>a person who has great expertise in computing and related technology</strong>
          <blockquote class="definition" cite="http://www.oxforddictionaries.com/definition/american_english/alpha-geek">
            <q>The alpha geeks are often a few years ahead of their time.</q>
          </blockquote>
        </li>
      </ol>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <hr>
        <p>
          We know how intimidating your computer can be, so let us help.
          Why spend the day trying to solve your tech problems when our
          experts can get you up and running in no time? Let us do the work
          so you can get on with your life. We'll even come to you!
        </p>
        <br>
        <p>
          Need help when you're out of town? Don't panic. As long as you have
          a working internet connection, we still might be able to help. Simply
          schedule an appointment for a remote-assistance-eligible service, then
          follow our easy&nbsp;<abbr title="Virtual Private Network">VPN</abbr>&nbsp;setup
          instructions, and one of our experts will connect to your computer over
          our encrypted virtual network!
        </p>
        <br>
        <p>
          If you have a problem which requires a service that is not listed on our
          website, please contact us and we will do our best to solve it, even if
          that means referring you to one of our competitors.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
