{% extends 'landing/base.html' %}

{% load recaptcha2 %}
{% load landing_utils %}
{% load cache %}

{% block page_extra_head %}
  {% recaptcha_init %}
  <style>#GoogleMap {height: 480px;border: 2em solid white;}</style>
{% endblock page_extra_head %}
{% block header %}
  {% include "landing/parts/header.html" %}
{% endblock header %}
{% block content %}
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Email us</h1>
        <p class="lead"></p>
      </div> <!-- col-lg-8 col... -->
      <div class="col-lg-4 col-md-5 col-sm-6">
        <div class="sponsor">
        </div> <!-- sponsor -->
      </div> <!-- col-lg-4 col... -->
    </div> <!-- row -->
  </div> <!-- page-header -->
  <div class="row">
    <div class='col-md-5'>
      {% if messages %}
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success alert-dismissable alert-link">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
        {{ message }}
      </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <form id='contact_form' class="form-horizontal" role="form" action="" method="POST" novalidate>
        {% include 'landing/form/form.html' %}
      </form>
    </div>
    <div class="col-md-6 col-md-offset-1 color-grid" id="GoogleMap">
    </div> <!-- #GoogleMap -->
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center"></h1>
    </div>
  </div> <!-- row -->
</div> <!-- container -->
{% endblock content %}

{% block page_extra_script %}
  {% cache 120 inline_js %}
  <script>{% inline_js_file 'landing/js/google_maps.js' mini=True %}</script>
  {% endcache %}
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCEE3LMbP2_ZJsha-M1yMrsaVqAltAwnHE" async defer></script>
{% endblock page_extra_script %}
