{% extends 'landing/base.html' %}
{% load staticfiles %}
{% load landing_utils %}
{% load cache %}
{% block header %}
  {% include "landing/parts/header.html" %}
{% endblock header %}
{% block content %}
  <div class="container-fluid">
    <div class="NOT-page-header" id="banner">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
          <p class="lead"></p>
        </div> <!-- col-lg-8 col... -->
        <div class="col-lg-9 col-md-9 col-sm-8">
          <div class="sponsor">
          </div> <!-- sponsor -->
        </div> <!-- col-lg-4 col... -->
      </div> <!-- row -->
    </div> <!-- page-header -->
  </div> <!-- container-fluid -->
  <style>{% inline_css_file 'landing/css/services.css' %}</style>
  <div class="container">
    <div class="row">
      <div class="col-sm-3" id="sidebar">
        <div class="nav nav-pills nav-stacked list-group table-of-contents">
        {% for service in services %}
          <a class="list-group-item" href="#{{ service|mkattribute }}">{{ service }}</a>
        {% endfor %}
        </div> <!-- nav -->
      </div> <!-- col-sm... -->
      <div class="col-sm-8 col-sm-offset-1">
        {% for service in services %}
          {% with service|mkattribute as service_id %}
          <div id="{{ service_id }}"></div>
          <br>
          <div class="service-div">
            <div class="page-header">
              <h2 class="text-center text-primary"><strong>{{ service }}</strong></h2>
            </div> <!-- page-header -->
            <div class="bs-component service well well-lg">
              {% include "landing/services/"|add:service_id|add:".html" %}
            </div> <!-- bs-component -->
          </div> <!-- service-div -->
          {% endwith %}
          {% if forloop.counter0 == 0 %}
        </div> <!-- col-sm... -->
      </div> <!-- row -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          {% endif %}
        {% endfor %}
      </div> <!-- col-sm... -->
    </div> <!-- row -->
  </div> <!-- container -->
{% endblock content %}
{% block page_extra_script %}
  <script>{% inline_js_file 'landing/js/services.js' %}</script>
{% endblock page_extra_script %}
