{% load landing_utils %}
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-xs" href="/">{{ company.long_name|title }}</a>
    <a class="navbar-brand visible-xs" href="/">{{ company.short_name }}</a>
  </div> <!-- navbar-header -->
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav nav-stacked navbar-right">
      {% for page in pages %}
      <li{% if page == title %} class="active"{% endif %}>
        <a href="{% url page %}">{{ page|title }}</a>
      </li>
      {% endfor %}
      {% if DEBUG %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% for page in 'index,login'|split %}
          <li>
            <a href="{% url 'admin:'|add:page %}" target="_blank">{{ page|title }}</a>
          </li>
          {% endfor %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Docs</li>
          {% for page in 'docroot,bookmarklets,tags,filters,views-index,models-index'|split %}
          <li>
            <a href="{% url 'django-admindocs-'|add:page %}" target="_blank">{{ page|title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
    </ul>
  </div> <!-- #navbar -->
</div> <!-- container -->
