[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target
#After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/usr/local/nginx/logs/nginx.pid
ExecStartPre=/usr/local/nginx/sbin/nginx -t -q -g 'daemon on; master_process on;' -c /usr/local/etc/nginx/nginx.conf
ExecStart=/usr/local/nginx/sbin/nginx -g 'daemon on; master_process on;' -c /usr/local/etc/nginx/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target

